.GraphVisualization{
    margin: auto;
    align-items: center;
    text-align: center;
  }
  
  .GraphMaster{
    margin: auto;
    width:90%;
  }
  
  .GraphContainer{
    background-color: rgb(255, 255, 255, 0.5);
    box-shadow: 5px 5px 5px grey;
  }

  .GraphContainer:hover{
    background-color: rgb(255, 255, 255, 0.6);
  }
  
  .GraphMultiSelector{
    position: relative;
    top: 0px;
    left: 0px;
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    color: whitesmoke;
    background-color:rgba(255, 255, 255, 0.5);
  }
  
  .GraphDescription{
    background-color:rgba(255, 255, 255, 0.5);
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 14px;
  }
  
  .svg-container-graph-id{
    width: 100%;
  }
  
  #graph-id-graph-container-zoomable{
  }