.Sport{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.SportItem{
  max-width: 550px;
  padding: 10px;
  flex-grow: 1;
}

.Sport-grid-container {
  display: grid;
  grid-template-areas:'img name date';
  grid-gap: 10px;
  grid-template-columns: 1fr 7fr 2fr;
  grid-template-rows: 80px;
  margin: auto;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.5);
}

.SportName{
  grid-area: name;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: auto;
}

.SportImage{  
    grid-area: img; 
    width: 100%;
    padding: 5px;
    margin: auto; 
}

.SportDate{
  grid-area: date; 
  margin: auto; 
}