.TimelineComponent{
  font-size: 15px;
  max-width: 1000px;
  width: 100%;
  margin: auto;
  text-align: center;
}
  
.TimelinePaper{
  background-color:rgba(255, 255, 255, 0.5);
  width:85%;
  max-width: 810px;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 7px;
  box-shadow: 5px 5px 5px grey;
  overflow: hidden;
}

.TimelinePaper:hover{
  background-color:rgba(255, 255, 255, 0.7);
  box-shadow: 7px 7px 7px grey;
  cursor: pointer;
}

.TimelineTitleContainer{
  justify-content: center;
  align-items: center;
  min-height: 55px;
  width: 100%;
  display: flex;
}

.TimelineTitleText{
  display: flex;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  width: fit-content;
  margin:auto;
}

.TimelineOppositeItem{
  margin-right: 7px;
  padding-top: 15px;
  text-align: right;
  font-size: small;
  width: 50px;
}

.MuiTimelineItem-missingOppositeContent:before {
  display: none;
}

.MuiTimelineDot-root{
  background-color: rgb(194, 82, 82);
  color:whitesmoke;
  border-color:transparent;
}

.TimelineButton{
  margin: 10px;
  padding: 10px;
}